.mat-expansion-panel {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: whitesmoke;
}

h5 {
    margin: 0;
    padding-top: 5%;
}

.mat-mdc-outlined-button {
    top: 3vh;
}

.mat-mdc-raised-button {
    float: right;
}