<!-- Hangman Puzzle -->
<div *ngIf="!wordSenseTaskVisible">
    <div class="blank-container">
    <!-- <div class="emoji-wrapper"><div class="emoji">{{data.emoji}}</div></div> -->
    <div class="characters">
      <div *ngFor="let char of hangmanState.display" class="character">
        {{ char }}
      </div>
    </div>
    </div>
    <div #keyboard class="simple-keyboard"></div>
    <div class="characters">

    <p>Attempts left: {{ hangmanState.attemptsLeft }}</p>
    </div>
  </div>
  
<!-- Word Sense Task -->
<div *ngIf="wordSenseTaskVisible">
    <div class="dialog-header">
      <h3><b>Which definition best matches the word as used in this sentence?</b></h3>
    </div>
    <div class="bottom-sheet">
      <button *ngFor="let definition of shuffledDefinitions" 
              mat-raised-button 
              class="definition-button"
              [ngClass]="definition.color" 
              (click)="selectLabel(definition.definition, definition.color)">
        {{ definition.definition }}
      </button>
    </div>
  </div>
  
 