#container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.child {
    // height: 80px;
    // height: 100%;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 20rem;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: whitesmoke;
    padding: 30px;
    padding-left: 5%;
}

button {
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
}

// .mat-mdc-form-field-input {
//     // font-size: 10px !important;
//     // padding: 0 !important;
//     width: 150%;
// }

// mat-hint {
//     font-size: 10px;
// }

// mat-form-field.hintLabel {
//     font-size: !important 5px;
// }

// .mat-hint {
//     font-size: 10px !important;
//   }