.doc-banner {
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

h2 {
    width: 100%;
    padding-right: 10vw;
}

.material-symbols-outlined {
    margin-left: 5vw;
    color: black;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

mat-grid-tile {
    justify-content: center;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: whitesmoke;
}

.chip-container {
    justify-content: center;
    display: flex;
    width: 100%;
    text-align: center;
    // font-size: 11px;
    // margin-top: 1%;
    // margin-bottom: 1%;
    // margin-left: 30%;
    // margin-right: 30%;
}

mat-chip-option {
    font-size: x-small;

}