.score-container {
    display: flex;
    // padding-top: 5px;
    padding-bottom: 10px;
    // margin-left: 60px;
    font-size: 15px;
}

p {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}