<app-doc-nlp-pos></app-doc-nlp-pos>

<!-- <div class="doc-card-container">
    <mat-card appearance="outlined" class="doc-card">
        <swiper-container class="swiper-container" navigation="true" pagination="true">

            <swiper-slide class="swiper-slide" *ngFor="let img of genImg; let i = index">
                <figure><img id="image-content" [src]="sanitizeImageUrl(genImg[i].url)">
                    <figcaption>{{img.caption}}</figcaption>
                </figure>
            </swiper-slide>
        </swiper-container>
    </mat-card>
</div> -->