<div class="doc-card-container">
    <!-- <mat-card appearance="outlined" class="doc-card"> -->
        <!-- <swiper-container class="swiper-container" navigation="true" pagination="true">

            <swiper-slide class="swiper-slide" *ngFor="let img of wikiImg; let i = index">
                <figure><img id="image-content" src="{{img.url}}">
                    <figcaption>{{img.caption}}</figcaption>
                </figure>
            </swiper-slide>

        </swiper-container> -->
    <!-- </mat-card> -->

</div>

<!-- <h2 >{{ title$ | async }}</h2>
<h2 >{{ text$ | async }}</h2> -->