<head>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<!-- <div class="doc-banner"><a routerLink="/catalogue"><button mat-button
      class="material-symbols-outlined">arrow_back</button></a>
  <h2>Featured</h2>
</div> -->

<!-- <div class="featured-container">
  <mat-card>
    <h4>Document Title</h4><button mat-stroked-button color="primary">Add</button>
  </mat-card>
  <mat-card>
    <h4>Document Title</h4><button mat-stroked-button color="primary">Add</button>
  </mat-card>
  <mat-card>
    <h4>Document Title</h4><button mat-stroked-button color="primary">Add</button>
  </mat-card>
</div> -->

<app-doc-catalog-list></app-doc-catalog-list>