h5 {
    padding-top: 50px;
    text-align: center;
}


.mat-mdc-tab-group {
    font-size: small;
    height: 200px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.mat-mdc-cell {
    font-size: x-small;
    height: 25%;
    padding: 1%;
}

.mat-mdc-header-cell {
    display: none;
}

.mat-mdc-table {
    width: 100%;
    overflow: scroll;
}

// .mat-mdc-tab-label {
//     font-size: small !important;
// }