.title {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 5%;
  font-weight: 500;
  justify-content: center;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

mat-progress-bar {
  margin-left: 5%;
  // margin-top: 2%;

}

// @media (max-width: 979px) {
//   mat-progress-bar {
//     margin-left: 1% !important;
//     margin-right: 1% !important;
//   }
// }

.doc-card {
  position: relative;
  display: flex;
  align-items: center; /* Vertical centering */
  height: 100%; /* Full height of the parent */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: whitesmoke;
  padding: 5%;
  top: 50%;
  // padding-right: 10%;
  // padding-left: 10%;
  // padding-bottom: 10%;
}

@media (max-width: 979px) {
  .doc-card {
    margin-top: 15% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.toolbar-spacer {
  // flex: 1 1 auto;
  width: 100%;
  display: flex; /* or inline-flex */
  justify-content: space-between;

}

mat-toolbar {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title-container {
  // width: 25%;
  float: left;
  margin-left: 5%;
  align-items: center;
}

@media (max-width: 979px) {
  .title-container {
    margin-left: 0% !important;
  }
}

.done-container {
  // width: 25%;
  float: right;
  margin-right: 5%;
  align-items: center;
}

@media (max-width: 979px) {
  .done-container {
    margin-right: 0% !important;
  }
}

.doc-card-container {
  justify-content: space-evenly;
  margin-top: 2%;
  // position: relative;
  // position: absolute;
  // top: 50%;
  // transform: translate(0, -50%);
  margin-left: 25%;
  margin-right: 25%;
}

@media (max-width: 979px) {
  .doc-card-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.doc-card-container.add-space {
  margin-top: 25vh; /* Adjust the space as needed */
}

button {
  justify-content: center;
  // display: flex;
}

.nlp-text {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

.text-button {
  align-items: center;
  display: inline-block;
  background-color: #ffffff;
  font-size: 0.8rem;
  color: #303030;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.grey {
  align-items: center;
  display: inline-block;
  background-color: lightgrey;
  border: 1px solid rgba(0, 0, 0, 0.1);
  // border: 1px solid #ffcb4c;
  border-radius: 0.25rem;
  // box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px 0;
  box-sizing: border-box;
  color: grey;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  // cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.white {
  align-items: center;
  display: inline-block;
  background-color: #ffffff;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  // border: 1px solid #ffcb4c;
  border-radius: 0.25rem;
  // box-shadow: rgba(0, 0, 0, 0.9) 0 2px 3px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  color: #303030;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  animation: glowing 2.5s infinite;
  font-weight: bolder;
}

.white:hover,
.white:focus {
  border-color: rgba(0, 0, 0, 0.15);
  // box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.65);
}

.white:hover {
  transform: translateY(-1px);
}

.white:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  // box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 2px #fcdd90, 0 0 8px #ffcb4c, 0 0 5px #ffcb4c,
      0 0 2px #fcdd90;
  }
  50% {
    box-shadow: 0 0 5px #fcdd90, 0 0 15px #ffcb4c, 0 0 10px #ffcb4c,
      0 0 5px #fcdd90;
  }
  100% {
    box-shadow: 0 0 2px #fcdd90, 0 0 8px #ffcb4c, 0 0 5px #ffcb4c,
      0 0 2px #fcdd90;
  }
}

.none {
  align-items: center;
  display: inline-block;
  background-color: #ffffff00;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  // box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  padding: 3px;
  margin-bottom: 5px;
  // margin-right: 2px;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.pink {
  background-color: mediumvioletred;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  font-weight: bold;
  color: white;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  // cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.pink:hover,
.pink:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.pink:hover {
  transform: translateY(-1px);
}

.pink:active {
  background-color: mediumvioletred;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}

.green {
  background-color: mediumseagreen;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  font-weight: bold;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  // cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.green:hover,
.green:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.green:hover {
  transform: translateY(-1px);
}

.green:active {
  background-color: mediumseagreen;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}

// .green {
//   background-color: mediumseagreen;
//   font-weight: bold;
//   color: #F0F0F1;
// }

button {
  transition: transform 0.2s, box-shadow 0.2s;
}

// button:hover {
//   transform: translateY(-2px);
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// }

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue {
  background-color: royalblue;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  font-weight: bold;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  // cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.blue:hover,
.blue:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.blue:hover {
  transform: translateY(-1px);
}

.blue:active {
  background-color: royalblue;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}

.orange {
  background-color: coral;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  font-weight: bold;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  // cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.orange:hover,
.orange:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.orange:hover {
  transform: translateY(-1px);
}

.orange:active {
  background-color: coral;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}

.purple {
  background-color: mediumpurple;
  padding: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  font-weight: bold;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  // cursor: pointer;
  justify-content: center;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
}

.purple:hover,
.purple:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: white;
}

.purple:hover {
  transform: translateY(-1px);
}

.purple:active {
  background-color: mediumpurple;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: white;
  transform: translateY(0);
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.doc-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 100%;
  align-content: flex-start;
  // margin-top: 16px;
  // align-items: center;
  // width: 100%;
  // justify-content: center;
  // flex-direction: row;
}

.count-label {
  // display: flex;
  // align-content: flex-start;
  margin-left: 5%;
  font-size: small;
  // align-items: center;
  // justify-content: center;
  // padding: 0 8px;
  // flex-wrap: wrap-reverse;
  // width: 100%;
  // align-content: flex-start;
  // margin-top: 2%;
  // background-color: #ffcb4c;
  color: #000;
  border-radius: 12px;
  // padding: 8px 16px;
  font-weight: 500;
}

@media (max-width: 979px) {
  .count-label {
    margin-left: 3% !important;
  }
}

.done-btn {
  display: flex;
  font-size: 1.2rem;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding: 0 8px;
  // flex-wrap: wrap-reverse;
  // width: 100%;
  // align-content: flex-start;
  // margin-top: 10%;
}

.highlighted-text {
  /* Default text styles */
  transition: all 0.1s ease;
  font-weight: normal;
  color: #333; /* Default text color */
  background-color: transparent; /* Default background */
  /* Add any other default styles you need */
}

.is-highlighted {
  position: relative;
  z-index: 1050; /* Higher than the overlay's z-index */
  color: black; /* Example: bright text color for highlighting */
  background-color: white; /* Example: contrasting background */
  font-weight: bold;
  border-radius: 1%;
  // pointer-events: none;
  // border: #f0f0f1 2px solid;
  // margin-right: 1%;
  // margin-left: 1%;
  /* Add any other styles to make the text stand out */
}

.is-highlighted-btn {
  position: relative;
  z-index: 1050; /* Higher than the overlay's z-index */
  // color: black; /* Example: bright text color for highlighting */
  // background-color: white; /* Example: contrasting background */
  // font-weight: bold;
  // border-radius: 1%;
  // pointer-events: none;
  // border: #f0f0f1 2px solid;
  // margin-right: 1%;
  // margin-left: 1%;
  /* Add any other styles to make the text stand out */
}

img {
  width: 100%;
  height: 100%;
  // z-index: 1050; /* Higher than the overlay's z-index */
  object-fit: contain;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-style: solid;
  border-width: 5px;
  border-color: whitesmoke;
}

.image-box {
  position: relative;
  display: block;
  z-index: 1050; /* Higher than the overlay's z-index */
  width: 50%;
  left: 25%; /* Center horizontally */

  padding-bottom: 2%;
}
